.header {
  flex-direction: column;
  text-align: center;
}

.photo {
  display: none;
}

.content {
  width: 100%;
}

.plans,
.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-info .container {
  flex-direction: column;
}
.contact-info i {
  display: none;
}

.contact-info p {
  border-bottom: #ed1c24 solid 2px;
}

.contact-info h3 {
  border-top: #ed1c24 solid 1px;
}
